


h1 {color: rgb(239, 10, 56);}
h1 {font-family: Georgia, 'Times New Roman', Times, serif;}
b {color: rgba(139, 0, 0, 0.973);}
header {background-color: coral;}
body {background-color: rgb(247, 185, 162);}
nav {background-color: rgb(233, 160, 174);}
nav {color: rgb(245, 238, 238);}